# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: social-score-deployment
  labels:
    app: social-score-api
spec:
  replicas: 3 # Nombre de workers/pods pour la scalabilité
  selector:
    matchLabels:
      app: social-score-api
  template:
    metadata:
      labels:
        app: social-score-api
    spec:
      containers:
      - name: social-score-container
        # Remplacez par votre IMAGE_TAG complète (ex: us-west1-docker.pkg.dev/mon-projet/social-score-repo/social-score-api:latest)
        image: us-west1-docker.pkg.dev/digital-social-score/digital-social-score/social-score-api:latest 
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m" # 0.5 vCPU
          limits:
            memory: "2Gi"
            cpu: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: social-score-service
spec:
  selector:
    app: social-score-api
spec:
  type: LoadBalancer
  selector:
    app: social-score-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
          
